@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow: scroll;
}

section {
  padding: 12rem 7%;
}

p{
  font-size: 15px;
}

h1{
  font-size: 25px;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:1rem 1%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.container{
  display: flex;
  justify-content: center;
}

.logo {
  width: 75px;
  height: 60px;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
  padding: 2rem;
  display: block;
}

.header .navbar ul li a:hover {
  background: #eee;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #fff;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: auto;
  float: right;
}


#menu-btn {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}


.banner {
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
  grid-template-columns: 0.5fr 1fr;
  gap: 1.5rem;
}

.banner .box {
  position: relative;
  overflow: scroll;
  border-radius: .5rem;
}


.banner .box .content h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}


.banner form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
}

.form-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    width: 80%;
    column-gap: 1px;
}

.banner form label{
    font-size: 16px;
}

.input {
    width: 12rem;
    font-size: 1.5rem;
    color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: #eee;
  }

.button{
    color: #fff;
    width: 12rem;
    height: 34px;
    background: black;
    border-radius: 5px;
}

.approve{
  color: #fff;
  width: 10rem;
  height: 34px;
  background-color: green;
  border-radius: 5px;
}
.reject{
  color: #fff;
  width: 10rem;
  height: 34px;
  background-color: red;
  border-radius: 5px;
}
.delete{
  color: #fff;
  width: 10rem;
  height: 34px;
  background-color: grey;
  border-radius: 5px;
}

th{
  font-size: 1.5rem;
  padding: 5px;
  color: white;
  background-color:black;
}

tr:nth-child(2n){
  background-color: rgb(179, 188, 192);
}


td{
  padding: 5px 15px;
  font-size: 1.3rem;
  text-align: center;
  margin: none;
 
}


@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 12rem;
  }
  .banner{
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
    justify-content: space-between;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header .navbar ul li ul li a {
    padding-left: 4rem;
  }
}

@media (max-width: 400px) {
  html {
      font-size: 50%;
      overflow: scroll;
  }
  section {
    padding-top: 12rem;
    padding-left: 4rem;
  }

  .banner form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
}

.form-field{
    display: grid;
    grid-template-columns: 14rem 14rem;
    justify-content: flex-start;
    width: 100%;
    column-gap: 6px;
}

.banner {
  display: grid;
  grid-template-columns: auto auto;
}
.banner form label{
    font-size: 14px;
}

.input {
    width: 10rem;
    font-size: 1.5rem;
  }

.button{
    width: 8rem;
}

  .home .slide .content h3 {
    font-size: 4rem;
  }
  label{
    font-size: 12rem;
  }
  .input {
      width: 14rem;
      font-size: 1.5rem;
      color: black;
      padding: .5rem 1rem;
      border-radius: .5rem;
      background: #eee;
  }
  .button{
      color: #fff;
      width: 14rem;
      height: 34px;
      background: black;
      border-radius: 5px;
  }

  .banner{
    display: flex;
    flex-direction: column;
  }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 5px; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%;
    width: auto;
    text-align: left;  
	}

  th{display: none;}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
    font-weight: bold;
    text-align: left;
	}
	
	/*
	Label the data
	*/
  }
/*# sourceMappingURL=style.css.map */