@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

:root{
  --main-color:#d3ad7f;
  --black:#13131a;
  --bg:#010103;
  --border:.1rem solid rgba(255,255,255,.3);
  --orange:#AE9238;
  --white-color:#fff;
  --black-color:#333;
  --light-color:#D8D5CA;
  --semi-white:#FCF8ED;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 2rem 7%;
}

body{
  background: var(--bg);
}

.error{
  font-size: 1.5rem;
  color: red;
}

.heading{
  padding:1rem 0;
  margin-bottom: 2rem;
  border-bottom: .1rem solid var(--light-color);
  font-size: 3rem;
  color:var(--light-color);
  text-transform: uppercase;
}

.heading span{
  color:var(--orange);
  text-transform: uppercase;
}

.heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  padding-top: .7rem;
  font-size: 1.7rem;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: #333;
}

.header .logo img{
  height: 7rem;
}


.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: #AE9238;
  border: 0.2rem solid #AE9238;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
}

.btn:hover {
  background: #AE9238;
  color: #2F2F2F;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}


.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: grid;
  grid-template-columns: auto auto;
}

.header .navbar ul li a {
  font-size: 1.7rem;
  color: #AE9238;
  padding: 2rem;
  display: block;
}

.header .navbar ul li a:hover {
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: auto;
  background: var(--bg);
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #AE9238;
  cursor: pointer;
  margin-left: 2rem;
}

.header .icons div:hover,
.header .icons a:hover {
 color:#d3ad7f;
}

.header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  border-top: 0.2rem solid #333;
  background: var(--bg);
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--bg);
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  color: #AE9238;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #d3ad7f;
}

#shop-btn {
  display: inline-block;
}



.home {
  padding: 0;
  position: relative;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content span {
  color: #fff;
  display: block;
  font-size: 2rem;
  -webkit-animation: fadeIn .4s linear .2s backwards;
          animation: fadeIn .4s linear .2s backwards;
}

.home .slide .content h3 {
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 6rem;
  -webkit-animation: fadeIn .4s linear .4s backwards;
          animation: fadeIn .4s linear .4s backwards;
}

.home .slide .content .btn {
  -webkit-animation: fadeIn .4s linear .6s backwards;
          animation: fadeIn .4s linear .6s backwards;
}

.home #next-slide,
.home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: #333;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: .5rem;
  cursor: pointer;
  text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover {
  background: #333;
  color: #fff;
}

.home #prev-slide {
  right: 9rem;
}

.category .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.category .box-container .box{
  height: 30rem;
  flex:1 1 40rem;
  border-radius: .5rem;
  position: relative;
  overflow:hidden;
}

.category .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category .box-container .box:hover img{
  transform: scale(1.1);
}

.category .box-container .content{
  position: absolute;
  bottom: 7rem; left:2rem;
}

.category .box-container .content span{
  font-size: 2rem;
  color:var(--orange);
}

.category .box-container .content h3{
  font-size: 3rem;
  color:var(--light-color);
  text-transform: uppercase;
  padding-top: .5rem;
}



.deal .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  text-align: center;
  border:.1rem solid var(--light-color);
  background:var(--semi-white);
  border-radius: .5rem;
  padding:1rem;
}

.deal .row .content{
  flex:1 1 40rem;
  padding:1rem;
}

.deal .row .image{
  flex:1 1 40rem;
  padding:2rem;
}

.deal .row .image img{
  width:100%;
}

.deal .row .discount{
  font-size: 2rem;
  color:var(--orange);
}

.deal .row .text{
  font-size: 4rem;
  color:var(--black-color);
  padding:.5rem 0;
}

.deal .row .count-down{
  display: flex;
  gap:2rem;
  justify-content: center;
  padding:.5rem 0;
}

.deal .row .count-down h3{
  color:var(--orange);
  font-size: 4rem;
}

.deal .row .count-down span{
  color:var(--bg);
  font-size: 1.5rem;
}

.menu{
  margin-top: 10rem;
}

.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap:1.5rem;
}

.menu .box-container .box{
  padding:1.5rem;
  text-align: center;
  border:var(--border); 
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  align-items: center;
}

.menu .box-container .box img{
  height: 15rem;
  width: 15rem;
}

.menu .box-container .box h3{
  color: var(--semi-white);
  font-size: 2rem;
  padding:1rem 0;
}

.menu .box-container .box .price{
  color: var(--semi-white);
  font-size: 2.5rem;
  padding:.5rem 0;
}

.menu .box-container .box .weight-size{
  font-size: 1.5rem;
  color: #D8D5CA;
}

.menu .box-container .box:hover{
  background:var(--semi-white);
}

.menu .box-container .box:hover > *{
  color:var(--black);
}


.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #AE9238;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: #AE9238;
  padding-right: .5rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.footer .footer-link{
  display: grid;
  grid-template-columns: auto auto;
}

.footer .credit {
  text-align: center;
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.2rem solid #333;
}

.footer .credit span {
  color: #AE9238;
}


.login-form form,
.register-form form {
  margin: 1rem auto;
  max-width: 40rem;
  border-radius: .5rem;
  border: 0.2rem solid var(--semi-white);
  padding: 2rem;
  text-align: center;
  margin-top: 10rem;
}

.login-form form h3,
.register-form form h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .7rem;
}

.login-form form .inputBox,
.register-form form .inputBox {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  background: #eee;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.login-form form .inputBox span,
.register-form form .inputBox span {
  color: #666;
  margin-left: 1rem;
  font-size: 2rem;
}

.login-form form .inputBox input,
.register-form form .inputBox input {
  width: 100%;
  padding: 1rem;
  background: none;
  font-size: 1.5rem;
  color: #666;
  text-transform: none;
}

.login-form form .flex,
.register-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
  margin-top: 1rem;
}

.login-form form .flex label,
.register-form form .flex label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.login-form form .flex a,
.register-form form .flex a {
  font-size: 1.5rem;
  color: #666;
  margin-left: auto;
}

.login-form form .flex a:hover,
.register-form form .flex a:hover {
  color: #AE9238;
}

.login-form form input[type="submit"],
.register-form form input[type="submit"] {
  background: #333;
  color: #fff;
}

.login-form form input[type="submit"]:hover,
.register-form form input[type="submit"]:hover {
  background: #AE9238;
}

.login-form form .btn,
.register-form form .btn {
  width: 100%;
}

.shopping-cart{
  margin-top: 10rem;;
}

.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.shopping-cart .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #D8D5CA;
  background: #D8D5CA;
  padding: 2rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
}

.shopping-cart .box-container .box .fa-times:hover {
  color: #666;
}

.shopping-cart .box-container .box img {
  height: 12rem;
  width: 12rem;
}

.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: #000;
}

.shopping-cart .checkbox {
  width: 2rem;
  height: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #eee;
}

.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #000;
}

.shopping-cart .box-container .box .content .weight-size {
  color: #000;
  font-size: 1.5rem;
}


.shopping-cart .cart-total {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #D8D5CA;
}

.shopping-cart .cart-total h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #D8D5CA;
}

.shopping-cart .cart-total h3 span {
  color: #D8D5CA;
}


.shopping-cart .cart-empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.shopping-cart .cart-empty h3{
  font-size: 2rem;
  color: #D8D5CA;
  
}



/*------------------- profile --------------------*/
.profile{
  margin-top: 10rem;
}

.profile .row{
  display: flex;
  background:var(--bg);
  flex-wrap: wrap;
  flex-direction: row;
  gap:1rem;
  justify-content: flex-start;
  align-content: center;
}

.profile .row #account-img{
  color: #D8D5CA; 
  padding: 1rem; 
}
.profile .row .account-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile .row .account-details h3{
  text-transform: uppercase;
  font-size: 4rem;
  color:#fff;
}

.profile .row .account-details p{
  text-transform: uppercase;
  font-size: 2rem;
  color:#fff;
}

.profile .row .account-details a{
  font-size: 1.5rem;
  color:#d3ad7f;
  text-decoration: none;
  padding-top: 1rem;
}

.profile-link{
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.order-prize .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.order-prize .box-container .box{
  height: 30rem;
  flex:1 1 40rem;
  border-radius: .5rem;
  position: relative;
  overflow:hidden;
}

.order-prize .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.order-prize .box-container .box:hover img{
  transform: scale(1.1);
}

.order-prize .box-container .content{
  position: absolute;
  bottom: 7rem; left:2rem;
}

.order-prize .box-container .content span{
  font-size: 3rem;
  color:var(--orange);
}

.order-prize .box-container .content h3{
  font-size: 5rem;
  color:var(--light-color);
  text-transform: uppercase;
  padding-top: .5rem;
  text-shadow: 3px 3px 4px #000;
}





@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  
  .header {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  .header .navbar {
    display: none!important;
    visibility: none;
  }
  html {
    font-size: 50%;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
  .shopping-cart .box-container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}